
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
p {
    font-family: 'Lato', sans-serif;
    line-height: 1;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin-bottom: 1rem;

}

a,
a:hover {
    text-decoration: none;
}

.button,
a,
button {
    transition: all 0.3s ease-out 0s;
}

li {
    /*margin-bottom: 10px;*/
    list-style: none;
}

ol ol,
ol ul,
ul ol,
ul ul {
    list-style: none;

    margin-bottom: 0;
}


dl,
ol,
ul {
    margin-left: 1rem;
    margin-top: 1rem;
}

button:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0;
}

*,
:after,
:before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}


.App {
    padding-top: 100px;
    padding-bottom: 100px;
}

